{% extends 'wrapped/index.html' %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <form class="card bg-base-200 shadow-xl col-span-4 md:col-span-6 col-start-1 md:col-start-2 lg:col-start-4 mb-16" method="POST">
        <div class="card-body">
            <h1 class="text-center">Contact Us</h1>
                {% csrf_token %}
                {{ form }}
            <div class="card-actions justify-center">
                <button type="submit" class="btn btn-accent">Send</button>
            </div>
        </div>
    </form>
{% endblock %}