{% extends "wrapped/index.html" %}
{% load static %}
{% block title %}Help{% endblock %}
{% block css %}
    <style>
        .help {
            font-weight: 600;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-span-full space-y-16">
    <!-- About Section -->
        <section id="about-section" class="col-span-full">
            <h1 class="text-4xl font-bold text-center mb-4 pt-4">About</h1>
            <p class="text-lg mb-8 max-w-3xl mx-auto text-center">
                We're a team of passionate developers and designers. Our mission is to bring data and design together in
                a fun, engaging way, letting users relive their music journey with a personalized Spotify Wrapped
                experience. No matter the time of year, anyone can get real-time data on their listening habits.
            </p>
        </section>
        
        <!-- Meet the Team Section -->
        <section id="meet-the-team-section" class="col-span-full">
            <h2 class="text-4xl font-bold text-center mb-8">Meet the Team</h2>

             <!-- Member 1 -->
        <div class="flex flex-col md:flex-row items-center gap-8 mb-8 px-4 md:px-0">
            <div class="flex-shrink-0">
                <img src="{% static '/wrapped/img/camtien.jpg' %}" alt="Team Member 1" class="w-48 h-48 rounded-full
                object-cover">
            </div>
            <div class="text-center md:text-left space-y-2 flex-grow">
                <h3 class="text-2xl font-semibold">Camtien Nguyen</h3>
                <h4 class="text-lg font-medium">Front-End Developer</h4>
                <p>Hi I'm Camtien! As the front-end developer, I am responsible for designing and implementing the user
                    interface, ensuring smooth, visually appealing, and intuitive user experience. My role involves
                    working closely with design specifications to create responsive layouts and style components using
                    Figma, Tailwind CSS, and GSAP. I work closely with the back-end team to integrate design and data
                    seamlessly for you!
                </p>
            </div>
        </div>

            <!-- Member 2 (Matthew) -->
        <div class="flex flex-col md:flex-row-reverse items-center gap-8 mb-12">
            <div class="flex-shrink-0 mb-4 md:mb-0">
                <img src="{% static '/wrapped/img/dev_matthew.png' %}" alt="Team Member 2, Matthew" class="w-48 h-48 rounded-full object-cover">
            </div>
            <div class="text-center md:text-left space-y-2 flex-grow">
                <h3 class="text-2xl font-semibold">Matthew Nehme-Haily</h3>
                <h4 class="text-lg font-medium">Full-Stack Developer</h4>
                <p> I'm Matthew o/. I am a Full-Stack Dev for this Spotify Wrapped project. I worked mainly in 
                    creating the user authentication flow, adding usability for the Spotify API, and features such as
                    the developer contact and social sharing. 
                </p>
            </div>
        </div>

            <!-- Member 3 (Aidan) -->
        <div class="flex flex-col md:flex-row items-center gap-8 mb-12">
            <div class="flex-shrink-0">
                <img src="{% static '/wrapped/img/dev_aidan.jpg' %}" alt="Team Member 3, Aidan" class="w-48 h-48 rounded-full object-cover">
            </div>
            <div class="text-center md:text-left space-y-2 flex-grow">
                <h3 class="text-2xl font-semibold">Aidan Mascoli</h3>
                <h4 class="text-lg font-medium">Full-Stack Developer</h4>
                <p>Hello! I'm Aidan :). I worked on a bunch of things, but the biggest one was probably wrapped
                generation on the backend, as well as the wrapped frontend development, specifically animations. Other
                than that I worked closely with both the frontend and backend teams to help with their tasks, and assist
                them over any roadblocks they ran into.</p>
            </div>
        </div>

            <!-- Member 4 (Temi) -->
        <div class="flex flex-col md:flex-row-reverse items-center gap-8 mb-12">
            <div class="flex-shrink-0 mb-4 md:mb-0">
                <img src="{% static '/wrapped/img/TemiPic.jpg' %}" alt="Team Member 4, Temi" class="w-48 h-48 rounded-full object-cover">
            </div>
            <div class="text-center md:text-left space-y-2 flex-grow">
            <h3 class="text-2xl font-semibold">Temi Cole</h3>
            <h4 class="text-lg font-medium">Backend Developer</h4>
            <p>Hello I'm Temi! I am a backend developer. I contributed to development of the account settings. I also assisted with organizing the users' statistical information.</p>
            </div>
        </div>

            <!-- Member 5 (Elijah) -->
        <div class="flex flex-col md:flex-row items-center gap-8 mb-12">
            <div class="flex-shrink-0">
                <img src="{% static '/wrapped/img/dev_elijah.jpg' %}" alt="Team Member 5, Elijah" class="w-48 h-48 rounded-full object-cover">
            </div>
            <div class="text-center md:text-left space-y-2 flex-grow">
                <h3 class="text-2xl font-semibold">Elijah Rabinovich</h3>
                <h4 class="text-lg font-medium">Backend Developer</h4>
                <p>I'm Elijah. I am our scrum master as well as back-end engineer for this Spotify Wrapped project. I
                worked primarily on assisting others with their tasks, setting up web-hosting, as well as logic and
                design for some of the back-end data parsing related to user's top 50 songs as well as finding and
                solving bugs.</p>
            </div>
        </div>

        </section>

        <!-- Contact Button Section -->
        <div class="col-span-12 text-center mt-16 mb-12 pt-4">
            <a href="{% url 'wrapped:feedback' %}" class="btn btn-accent mb-8">
                Contact the Developers
            </a>
        </div>
    </div>

{% endblock content %}