{% extends 'wrapped/index.html' %}
{% load static %}
{% load social_share %}

{% block title %}{% if user.is_authenticated %}Stats{% else %}Home{% endif %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://use.typekit.net/lha8mkp.css">
    <link rel="stylesheet" href="{% static 'wrapped/css/sliders.css' %}">
{% endblock %}
    
{% block content %}
    <span class="col-span-full flex flew-row items-center gap-1" id="indicators">
        <progress value="0" max="100" class="progress"></progress>
        <progress value="0" max="100" class="progress"></progress>
        <progress value="0" max="100" class="progress"></progress>
        <progress value="0" max="100" class="progress"></progress>
        <progress value="0" max="100" class="progress"></progress>
        <progress value="0" max="100" class="progress"></progress>
        <progress value="0" max="100" class="progress"></progress>
        <progress value="0" max="100" class="progress"></progress>
        <progress value="0" max="100" class="progress"></progress>
        <progress value="0" max="100" class="progress"></progress>
        <progress value="0" max="100" class="progress"></progress>
    </span>
    <script>
        const animations = Array.from({length: 11}, () => ({ start: () => {}, end: () => {}}))
        const tracks = ['{{ top_track_in_top_album.preview }}', '{{ top_track_by_top_artist.preview }}', '{{ top_track_by_top_artist.preview }}', '{{ top_tracks.0.preview }}', '{{ top_tracks.0.preview }}', '{{ most_popular_track.preview }}', '{{ ideal_track.preview }}', '{{ top_track_in_top_album.preview }}', '{{ top_track_in_top_album.preview }}', '{{ top_track_by_top_artist_of_top_genre.preview }}', '{{ top_track_by_top_artist_of_top_genre.preview }}']
    </script>
    <div class="col-span-full flex items-center justify-center row-start-2 gap-2 py-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" id="volumeIcon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 9.75 19.5 12m0 0 2.25 2.25M19.5 12l2.25-2.25M19.5 12l-2.25 2.25m-10.5-6 4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z" />
        </svg>
        <input type="range" min="0" max="100" value="0" class="max-w-xs text-accent" id="volume" />
    </div>
    <div id="container" class="my-3 row-start-3 col-start-1 col-span-4 md:col-start-2 md:col-span-6 lg:col-start-3 lg:col-span-8 aspect-square overflow-x-hidden relative">
        <div id="slides" class="size-full flex flex-row justify-start items-stretch gap-0 absolute">
            {% for slide in slides %}
                <div class="carousel-item size-full overflow-hidden relative" data-theme="{{ slide.colors }}">
                    {% with "wrapped/wraps/s"|add:slide.number|add:slide.layout|add:".html" as template %}
                        {% include template %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>
    <button id="left" class="row-start-3 col-start-1 lg:col-start-2 my-16 mr-[-0.75rem] flex flex-col items-center justify-center arrow relative z-50">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 drop-shadow-lg">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>
    </button>
    <button id="right" class="row-start-3 col-start-4 md:col-start-8 lg:col-start-11 my-16 ml-[-0.75rem] flex flex-col items-center justify-center arrow relative z-50">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 drop-shadow-lg">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
    </button>
    <section id="share_twitter" class="col-span-full">
        {% post_to_twitter "Take a look at my custom-made Spotify Wrapped using Spotify Wrapper!" object_or_url "Post to Twitter" %}
    </section>
    <section id="share_reddit" class="col-span-full">
        {% post_to_reddit "Take a look at my custom-made Spotify Wrapped using Spotify Wrapper!" object_or_url "Post to Reddit"%}
    </section>
    <section id="share_clipboard" class="col-span-full">
        {% copy_to_clipboard object_or_url "Copy to Clipboard" "button"%}
    </section>
    {% add_copy_script %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'wrapped/js/wrap.js' %}"></script>
{% endblock %}