<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="absolute z-0 inset-[-11.69%]">
    <defs>
        <linearGradient id="bg0{{ id }}" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop class="text-base-100" offset="0"/>
            <stop class="text-base-300" offset="1"/>
        </linearGradient>
    </defs>
    <style>
        stop {
            stop-color: currentColor;
        }
    </style>
    <rect fill="url(#bg0{{ id }})" x="194" y="194" width="1660" height="1660"/>
    <g class="fill-primary opacity-70 g0">
        <path class="float-3" d="M107.84,93.78l1620.7,3.81s99.5,220.35-217.16,396.54-444.67,195.14-639.4,431.28c-194.9,236.35-109.29,814.5-764.14,824.02V93.78Z"/>
    </g>
    <g class="fill-primary opacity-70 g0">
        <path class="float-6" d="M107.84,93.78s1325.8,2.92,1380.49,3.81c0,299.53-362.89,194.2-616.34,447.65-321.3,321.3-264.65,720.49-764.75,877.63,0-807.14,.6-1329.09,.6-1329.09Z"/>
    </g>
    <g class="fill-primary g0">
        <path class="float" d="M107.84,31.64s226.84,28.98,560.83,3.41c-8.96,267.42-102.31,918.86-556.92,846.08,26.11-386.3-3.91-849.49-3.91-849.49Z"/>
    </g>
    <g class="fill-secondary opacity-70 g0">
        <path class="float-1" d="M2048,994v1054h-887.55c53.82-99.92,12.43-302.98-7.85-388.72-13.48-57.01-13.1-252.26,93.95-407.2,137.5-199.02,290.06-261.01,433.71-261.01,107.27,0,226.11,32.94,367.73,2.94Z"/>
    </g>
    <g class="fill-secondary g0">
        <path class="float-5" d="M2048,2048s-158.6-12.79-476.93,0c-161.29-220.77-225.44-528.47-83.35-662.2,188.57-177.47,476.94-42.44,560.28,97.62-18.53,207.9,0,564.58,0,564.58Z"/>
    </g>
</svg>
<div class="absolute inset-0 z-10 flex flex-col items-stretch justify-between p-8 display">
    <h1 class="text-left g1">
        Your
        {% if term == 'short' %}
            4 Week
        {% elif term == 'medium' %}
            6 Month
        {% else %}
            1 Year
        {% endif %}
        Wrapped
    </h1>
    <h1 class="text-right g1">Ready to see your stats?</h1>
</div>
<script>
    const g0 = document.getElementsByClassName('g0');
    const g1 = document.getElementsByClassName('g1');

    animations[0].start = (callback) => {
        gsap.set([g0, g1], {clearProps: true})
        
        const tl = gsap.timeline({defaults: {duration: 0.5, ease: 'power2.out'}})
        tl.from(g0[0], {attr:{transform: 'translate(-1660, 0)'}}, 0)
        tl.from(g0[1], {attr:{transform: 'translate(-1660, 0)'}}, 0.15)
        tl.from(g0[2], {attr:{transform: 'translate(-1660, 0)'}}, 0.3)
        tl.from(g0[3], {attr:{transform: 'translate(1660, 0)'}}, 0)
        tl.from(g0[4], {attr:{transform: 'translate(1660, 0)'}}, 0.2)
        tl.from(g1[0], {xPercent: -110}, 0.5)
        tl.from(g1[1], {xPercent: 110, onComplete: callback}, 0.5)
    }

    animations[0].end = (callback) => {
        const tl = gsap.timeline({defaults: {duration: 0.5, ease: 'power2.in'}})
        tl.to(g0[0], {attr:{transform: 'translate(-1660, 0)'}}, 0.5)
        tl.to(g0[1], {attr:{transform: 'translate(-1660, 0)'}}, 0.35)
        tl.to(g0[2], {attr:{transform: 'translate(-1660, 0)'}}, 0.2)
        tl.to(g0[3], {attr:{transform: 'translate(1660, 0)'}}, 0.4)
        tl.to(g0[4], {attr:{transform: 'translate(1660, 0)'}}, 0.2)
        tl.to(g1[0], {xPercent: -110, onComplete: callback}, 0)
        tl.to(g1[1], {xPercent: 110}, 0)
        tl.call(() => tl.time(0).kill(), [], 1)
    }
</script>