{% load static %}
<svg xmlns="http://www.w3.org/2000/svg" class="absolute z-0 inset-[-11.69%]" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2048 2048">
  <defs>
      <style>
          .cls-10 {
              clip-path: url(#clippath);
          }
      </style>
    <clipPath id="clippath">
      <rect class="cls-1" x="6.95" y="630.95" width="1055.512" height="1055.512"/>
    </clipPath>
    <clipPath id="clippath-1">
      <rect class="cls-1" x="1050.388" y="337.505" width="984.613" height="984.613"/>
    </clipPath>
  </defs>
  <rect class="bg-gradient-to-b from-base-100 to-base-300" x="194" y="194" width="1660" height="1660"/>
  <path class="cls-16" d="M2040,8V2040H8V8H2040m8-8H0V2048H2048V0h0Z"/>
  <g id="_2.tif" data-name="2.tif">
    <g class="cls-10">
      <image id="_2" data-name="2" width="1832" height="1625" transform="translate(51.282 715.391) scale(.528)" xlink:href="{% static 'wrapped/img/holo/1.tif' %}"/>
    </g>
  </g>
  <g id="_1.tif" data-name="1.tif">
    <g class="cls-19">
      <image id="_1" data-name="1" width="1658" height="1697" transform="translate(1139.003 400.52) scale(.492)" xlink:href="{% static 'wrapped/img/holo/2.tif' %}"/>
    </g>
  </g>
  <circle class="fill-accent opacity-70" cx="1174" cy="1011.894" r="276.788"/>
  <circle class="fill-accent opacity-70" cx="874" cy="1011.894" r="276.788"/>
  <circle class="fill-accent opacity-70" cx="1124" cy="1011.894" r="276.788"/>
  <circle class="fill-accent opacity-70" cx="924" cy="1011.894" r="276.788"/>
  <circle class="fill-accent opacity-70" cx="974" cy="1011.894" r="276.788"/>
  <circle class="fill-accent opacity-70" cx="1074" cy="1011.894" r="276.788"/>
  <circle class="fill-accent opacity-70" cx="1024" cy="1011.894" r="276.788"/>
</svg>