{% extends "wrapped/auth/index.html" %}

{% block name %}Reset Password{% endblock %}
{% block heading %}<h1 class="text-center">Reset Password</h1>{% endblock %}
{% block form %}
    {% csrf_token %}
    {% if form.errors %}
        <div class="text-error" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <label for="id_email">Email</label>
    <input type="email" name="email"  class="form-control"
           autocomplete="email" maxlength="254" required id="id_email"
           placeholder="Enter email">
{% endblock %}
{% block button %}
    <div class="flex flex-col gap-0 items-center pt-4">
        <button type="submit" class="btn btn-accent mb-2">Submit</button>
        <a class="link link-accent" href="{% url 'wrapped:signup' %}">Create A New Account</a><br><br>
        <a class="link link-accent" href="{% url 'wrapped:login' %}">Back To Login</a><br>
    </div>
{% endblock %}